
# Basic Configuration
aws_region   = "us-east-1"
environment  = "dev"
project_name = "devops-platform"

# Network Configuration
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]

# Cost Optimization
enable_nat_gateway = true
single_nat_gateway = true  # Set to false for high availability (doubles NAT costs)

# Tags
common_tags = {
  Project    = "devops-platform"
  Owner      = "koussay"
  ManagedBy  = "terraform"
  Repository = "devops-platform-infra"
}


# EKS Configuration
eks_cluster_version      = "1.28"
eks_node_instance_types  = ["t3.medium"]
eks_node_capacity_type   = "SPOT"  # Use SPOT instances for cost savings
eks_node_disk_size      = 20
eks_node_desired_size   = 2
eks_node_max_size       = 4
eks_node_min_size       = 1